name: test

on:
  push:
  schedule:
    - cron: '0 0 */1 * *'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package-version: [lowest, latest]
        php-version: [8.1, 8.2, 8.3, 8.4]
    name: PHP ${{ matrix.php-version }} with ${{ matrix.package-version }} packages
    steps:
      - name: Install Just
        uses: extractions/setup-just@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring
          coverage: none
      - name: Install packages
        run: just install-${{ matrix.package-version }}
      - run: just test
